.news-card img {
  float: left;
  border: solid 2px #fff;
  -webkit-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.25);
  -moz-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.25);
  box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.25);
  margin-right: 15px;
  max-width: 275px;
}

.news .date-as-calendar {
	float: left;
  font-variant: normal;
  font-style: normal;
  font-weight: normal;
  font-family: GPCBook, sans-serif;

  /* It seems vertical-align: baseline does not work correctly with display: inline-flex. */
  vertical-align: top;

  /* margin: 1ex; */

  color: #999;
  background: white;



  -webkit-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.25);
  -moz-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.25);
  box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.25);
  margin-right: 15px;
  max-width: 275px;
   width: 90px;
   height: auto;
}

.news .date-as-calendar .weekday,
.news .date-as-calendar .day,
.news .date-as-calendar .month,
.news .date-as-calendar .year {
  text-align: center;
  line-height: 1.0;
}

.news .date-as-calendar .month {
  text-transform: uppercase;
  background: #aa272f;
  color: white;
}

.news .inline-flex.date-as-calendar {
  display: inline-flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  


}
.news .inline-flex.date-as-calendar .weekday,
.news .inline-flex.date-as-calendar .day,
.news .inline-flex.date-as-calendar .month,
.news .inline-flex.date-as-calendar .year {
  display: block;
  flex: 1 1 auto;
}
.news .inline-flex.date-as-calendar .month {
  order: 1;
  font-size: 1em;
  padding: 0.3em 0 ;
}
.news .inline-flex.date-as-calendar .weekday {
  order: 2;
  font-size: 0.6125em;
  padding: 3px 0;
}
.news .inline-flex.date-as-calendar .day {
  order: 3;
  font-size: 2em;
}
.news .inline-flex.date-as-calendar .year {
  order: 4;
  font-size: 0.87750em;
  padding: 3px 0;
}